* {
	margin: 0;
	padding: 0;
}

.navbar {
	background-color: transparent; 
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav>.active>a {
	background-color: transparent; 
	color: #fff;
	font-weight: 800;
	border-top: 1px solid #fff;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent; 
	color: #fff;
	text-shadow: 0px 0px 15px rgba(0,0,0,.5);
}

.navbar-default {
	border-bottom: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	color: #fff;
}


h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight:800;
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0,.2);
	font-size: 100px;
	text-align: center;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size: 33px;
	color: #fff;
	text-align: center;
}

h3{
	font-family: Bungee, sans-serif;
	font-weight:400;
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0,.2);
	font-size: 45px;
	text-align: center;
}

p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size: 25px;
	padding: 20px 0;
	text-shadow: 1px 1px rgba(0,0,0,.2);
	text-align: center;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
}



/***********************************************************************************************************/
/* INTRODUCTION */
#intro {
    background-color: #d1675a;
}

#intro .row {
	padding-top: 50px;
}

#intro h1 {
	padding-top: 50px;
}




/***********************************************************************************************************/
/* RESUME */
	#resume {
		background-color: #398eb2;
	}

	#resume h2{
		padding-bottom: 80px;
	}

	#resume p{
		text-align: center;
		text-shadow: none;
		font-size: 20px;
		padding-bottom: 100px;
	}



/***********************************************************************************************************/
/* FORMATION */
#formation .pola1 {
	background: #33658a;
	background: -moz-linear-gradient(left, #33658a 0%, #86bbd8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #33658a 0%,#86bbd8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #33658a 0%,#86bbd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#formation .pola2 {
	background: #33658a;
	background: -moz-linear-gradient(left,#86bbd8 0%, #468189 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,#86bbd8 0%,#468189 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,#86bbd8 0%,#468189 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#formation .pola3 {
	background: #33658a;
	background: -moz-linear-gradient(left, #468189 0%, #89623B 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #468189 0%,#89623B 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #468189 0%,#89623B 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#formation .pola4 {
	background: #33658a;
	background: -moz-linear-gradient(left, #89623B 0%, #CC7E2A 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #89623B 0%,#CC7E2A 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #89623B 0%,#CC7E2A 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.center-table {
  display: table;
  height: 300px;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

#formation h3 {
  text-align: center;
  display: block;
}

#formation .tablepaps {
	display: table-cell;
	vertical-align: middle;
}

#formation table {
	padding: 10px;
	color: #153d52;
	background-color: #e7ebed;
	border-radius: 10px;
	box-shadow: 2px 2px #000;
}


/***********************************************************************************************************/
/* SKILLS */
#skills {
	background-color: #d1675a;
	color: #fff;
}
#skills .spacer{
	height:180px;
}
#skills p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-size: 25px;
	padding: 20px 0;
}

	#skills p.list{
		color: #fff;
		font-family: 'Bungee', sans-serif;
		font-weight:400;
		font-size: 25px;
		padding: 20px 0;
	}

	#skills .square {
		padding-top: 15px;
		display: block;
		width: 150px;
		height: 150px;
		margin: 0 auto;
	}

	#skills h3 {
		font-size: 30px;
	}



/***********************************************************************************************************/
/* PORTFOLIO */
#portfolio {
	background-color: #153d52;
	color: #666;
}



/***********************************************************************************************************/
/* HOBBIE */
#hobbies{
	background-color: #398eb2;
}


#hobbies h2{
	color: #153d52;
	font-weight: 300;
}

#hobbies .center-block{
	width:340px;
	height:340px;
	position: relative;
}

#hobbies img{
	width: 240px;
	height: 240px;
    -webkit-transition: width 1s, height 1s; /* Safari */
    transition: width 1s, height 1s;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 1px solid #000;
}


#hobbies img:hover{
	width: 340px;
	height: 340px;

}

/***********************************************************************************************************/
/* CONTACT */

#contact{
	background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
	background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
	background: linear-gradient(#4BBFC3,#7BAABE);
}

	#contact p {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight:700;
		font-size: 25px;
		padding: 20px 0;
	}

	#contact .btn-primary {
		background-color: #77B6EA;
	}

	#contact .withline:before {
		content: '';
		display: inline-block;
		width: 1px;
		height: 270px;
		background-color: #fff;
		float: left;
	}

	#contact .soc-svg {
		display: block;
		width: 50px;
		height: 50px;
		margin: 30px;
		fill: #fff;
	}
	#contact .soc-svg:hover {
		fill: #eee;
	}




/***********************************************************************************************************/
/* FINAL */
#final{
	background-color: #ffbf6b;
	height: 3000px;
	padding: 50px 0;
}

#final p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size: 25px;
	padding: 20px 0;
}

.coffee {
	width: 100px;
	height: 100px;
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1,Color='#666')";
	-webkit-filter:drop-shadow(1px 1px 1px rgba(0, 0, 0, .2));
	filter:drop-shadow(1px 1px 1px rgba(0, 0, 0, .2));
}


